<% include templates/header.ejs %>
<% include templates/sidebar.ejs %>
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-home"></i>
            <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Advertiser</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <i class="fas fa-building"></i> RealEstate
                  </div>
                  <div class="col-md-2">
                    <a href="/post_realestate" class="btn btn-primary btn-block" title="Plan">Add New Post</a>
                  </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table realestate_table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> name </th>
                        <th> mobile</th>
                        <th> email</th>
                        <th> location</th>
                        <!-- <th> type_of_space </th> -->
                        <th> currency </th>
                        <th> payment </th>
                        <th width="10%">Details</th>
                        <th class="text-center"> action </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th> name </th>
                        <th> mobile</th>
                        <th> email</th>
                        <th> location</th>
                        <!-- <th> type_of_space </th> -->
                        <th> currency </th>
                        <th> payment</th>
                        <th width="10%">Details</th>
                        <th> action </th>
                    </tr>
                </tfoot>
                <tbody>
                    <%
                        if(realestate_result != '')
                        {
                            for(var i=0; i < realestate_result.length; i++)
							{
                                %>
                                    <tr>
                                        <td><%= realestate_result[i].name %></td>
                                        <td><%= realestate_result[i].mobile %></td>
                                        <td><%= realestate_result[i].email %></td>
                                        <td><%= realestate_result[i].location %></td>
                                        <!-- <td><%= realestate_result[i].type_of_space %></td> -->
                                        <td><%= realestate_result[i].currency %></td>
                                        <td>
                                            <%
                                            if(realestate_result[i].payment_status == true)
                                            {
                                                %>
                                                    <span class=" btn-success btn-py">Success</span>
                                                <%
                                            }
                                            else
                                            {
                                                %>
                                                    <span class=" btn-warning btn-py text-white">Pending</span>
                                                <%
                                            }
                                            %>
                                        </td> 
                                        <td>
                                            <a href="/realestateDetails/<%= realestate_result[i]._id %>">Details</a>
                                        </td>
                                        <td>
                                            <a href="/editRealestate/<%= realestate_result[i]._id %>" class="btn btn-primary btn-sm">
                                                <i class="fas fa-edit text-white"></i>&nbsp;&nbsp;Edit
                                            </a>
                                            &nbsp;
                                            <a class="btn btn-danger btn-sm text-white" onClick="removeDetails('remove_realestate','<%= realestate_result[i]._id %>')" ><i class="fas fa-trash text-white" style="cursor:pointer"></i>&nbsp;&nbsp;Delete</a> 														
                                            <!-- <i class="fas fa-trash text-danger" onClick="removeDetails('remove_realestate','<%= realestate_result[i]._id %>')" style="cursor:pointer"></i> -->
                                        </td>
                                    </tr>
                                <%     
                            }
                            
                        }
                    %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Footer -->
<% include templates/footer.ejs %> 